.cart-container {
  width: 100%;
  margin: 0 auto;
  background-color: #e83a14;
}
.cart-container h1 {
  text-align: center;
}
.cart-container h2 {
  text-align: left;
}
.info-wrapper {
  width: 40%;
  margin: 0 auto;
}
.info-wrapper h2,
button {
  font-size: 12px !important;
}
.info-wrapper button {
  width: 80%;
  background-color: #d9ce3f;
  border: 1px solid #d9ce3f;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto 10px auto;
}
.info-wrapper button:hover {
  background-color: transparent;
  transition: all 0.5s linear;
}
