.header {
  display: flex;
  flex-direction: column-reverse;
}
.products-container {
  width: 100%;
  background-color: #f7ccac;
  padding: 0px 10px;
}
.products-container h1,
h2 {
  text-align: center;
}
.all-products {
  display: grid;
  grid-gap: 10px;
}
@media only screen and (max-width: 600px) {
  .all-products {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (min-width: 601px) {
  .all-products {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media only screen and (min-width: 801px) {
  .all-products {
    grid-template-columns: repeat(3, 1fr);
  }
}
.proceed-to-overview {
  width: 80%;
  background-color: #82eb82 !important;
  border: 1px solid #82eb82 !important;
  padding: 10px;
  cursor: pointer;
  margin: 0 auto;
}
.proceed-to-overview:hover {
  background-color: transparent !important;
  transition: all 0.5s linear !important;
}
.all-buttons .selected {
  background-color: orange;
}
